
@{
    ViewData["Title"] = "Index";
}


<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 title">
                <h3>
                    Xeberler
                </h3>
                <p>
                    It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout
                </p>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
            </div>
            <div class="row" style="margin-left: 3px;">
                <div class="col-lg-4 col-md-6 cardd">
                    <div class="card">
                        <img src="img/blog/blog1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="">Read More</a>
                            <div class="date">
                                16 <br>
                                Sep
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 cardd">
                    <div class="card">
                        <img src="img/blog/blog1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="">Read More</a>
                            <div class="date">
                                16 <br>
                                Sep
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 cardd">
                    <div class="card">
                        <img src="img/blog/blog1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="">Read More</a>
                            <div class="date">
                                16 <br>
                                Sep
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>