
@{
    ViewData["Title"] = "Index";
}

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 contact">
                <h3>
                    Bizimlə Əlaqe:
                </h3>
                <div class="location">
                    <p>
                        Nizami küç. 203B, AF Business House, 2-ci mərtəbə <i class="fas fa-map-marker-alt"></i>
                    </p>
                    <p>
                        +99412 310 0113/ +99450 444 2633 <i class="fas fa-phone"> </i>
                    </p>
                    <p>
                        info@code.edu.az <i class="fas fa-envelope"></i>
                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.4284901456376!2d49.85175681489335!3d40.377194965967796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2s!4v1645472381137!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>